<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Symphony Music{% endblock %}</title>
</head>
<body>
    <header>
        <h2>🎵 Symphony Streaming Platform</h2>
        <nav>
            <a href="/">Home</a>
            <a href="/logout">Logout</a>

        </nav>
    </header>
    <hr>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <hr>
    <footer>
        <p>© 2026 Symphony Application Core | All Rights Reserved.</p>
    </footer>
</body>
</html>
