{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>Welcome to Symphony Music</h1>
    <p>Your personal gateway to infinite soundscapes.</p>

    <hr>
    <h3>Login to Your Account</h3>
    <form method="POST" action="/login-submit">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        
        <button type="submit">Login</button>
    </form>
{% endblock %}
